{% extends 'base.html' %}
{% block conteudo %}
<h3>Novo Projeto</h3>
<form method="POST">
<input class="form-control mb-2" name="nome" placeholder="Nome do projeto">
<textarea class="form-control mb-2" name="descricao" placeholder="Descrição"></textarea>
<input class="form-control mb-2" name="responsavel" placeholder="Responsável">
<input class="form-control mb-2" name="status" placeholder="Status (Ex: Em andamento)">
<input class="form-control mb-2" name="inicio" placeholder="Data início">
<input class="form-control mb-2" name="fim" placeholder="Data fim">
<button class="btn btn-success">Salvar</button>
</form>
{% endblock %}
